.container{
    min-height: 100%;
    min-width: 100%;
    padding-left: 13%;
}

.error{   
    padding-left: 14%;
    background-color: aqua;   
    max-height: 100%;
    width: 70%;
    /* padding-left: 3%; */
    /* /* align-self: center; */
    align-items: center;
    text-align: center; 
    margin: auto;

}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    text-align: center;
    display: block;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; 
    color: wheat;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10%;
    padding-right: 3%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    list-style-type: none;
}
.sidenav_ul{
    list-style-type: none;
    padding: 5px;
}

.footer{
    padding-left: 14%;
}
  